<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=91.215.216.74;Persist Security Info=True;User ID=beroe_admin;Password=3oKun8&amp;7"
            providerName="System.Data.SqlClient" />
        <add name="WMS.Properties.Settings.DevConn" connectionString="provider=MySQL;User Id=beroe_WMS;Password=ffN5r1#9;&#xA;          Host=91.215.216.74;Database=beroebo_wms;Unicode=True;Persist Security Info=True; Use Procedure Bodies=false;"
            providerName="Devart.Data.Universal" />
        <add name="WMS.Properties.Settings.ConnectionString" connectionString="Data Source=91.215.216.74;Persist Security Info=True;User ID=beroe_admin;Password=3oKun8&amp;7"
            providerName="System.Data.SqlClient" />
        <add name="WMS.Properties.Settings.beroebo_wmsConnectionString"
            connectionString="provider=MySQL;User Id=beroe_WMS;Password=ffN5r1#9;Host=91.215.216.74;Database=beroebo_wms;Unicode=True;Persist Security Info=True;"
            providerName="Devart.Data.Universal" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>